/.vs
/*.suo
/*.Tests/Content/
/*.Sample/Content/
/bin
/obj
/node_modules
/build/
/packages/
/tools/packages/
/.fake/
/paket-files/
.vscode/
.idea/
*.user
websharper.log
/Capacitor*/vite*
/Capacitor*/bin
/Capacitor*/obj
/Capacitor*/android
/Capacitor*/node*
/Capacitor*/Properties
/Capacitor*/wwwroot
/Capacitor*/.vs
/Capacitor*/*.json
