/.vs
/*.suo
/*.Tests/Content/
/*.Sample/Content/
/bin
/obj
/node_modules
/build/
/packages/
/tools/packages/
/.fake/
/paket-files/
.vscode/
.idea/
*.user
websharper.log
/WebSharper.Capacitor*/bin
/WebSharper.Capacitor*/obj
/WebSharper.Capacitor*/node*
/WebSharper.Capacitor*/Properties
/WebSharper.Capacitor*/wwwroot/Content
/WebSharper.Capacitor*/wwwroot/dist
/WebSharper.Capacitor*/.vs

